body {
  background-color: #595a61;
  padding: 100px;
  padding-top: 30px;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}
hr {
  width: 20%;
  border: 2px solid #c4650b;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile {
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  background-color: #3c3b3f;
  height: 470px;
  font-family: "Montserrat", sans-serif;
  color: #eff1f5;
}
.profilePic {
  float: left;
  padding-top: 0;
  padding-left: 70px;
  padding-right: 70px;
}
.heading {
  color: #eff1f5;
  /*font-family: 'IBM Plex Sans', sans-serif;*/
  font-family: "Sacramento", cursive;
  font-size: 3.6rem;
  text-align: left;
  padding-left: 70px;
}
.name {
  padding-top: -10px;
  font-size: 3.8rem;
}
.email {
  padding-top: -10px;
  font-size: 1.8rem;
}
